@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


nav h1{
    font-family: 'Pacifico', cursive;;
    font-weight: 400;
    color: white;
    font-size: 25px;
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
   
}
ul li{
    margin-top: 20px;
    font-size: 30px;
    margin-right: 100px;
}
ul li a{
    text-decoration: none;
    color: black;
}
.background{
    background-color: green;
}